.allInfo {
    max-width: 1170px;
    height: auto;
    margin: 0 auto;

    display: flex;
    position: relative;
    flex-direction: column;
}

.allInfoWrapper {
    display: flex;
    justify-content: center;
}
