.videoBlock {
    max-width: 380px;
    background-color: var(--bgcGray);
    border-radius: 30px;

}

.videoInfo {
    display: flex;
    justify-content: space-between;
    border-right:  1px solid #555547;
    align-items: center;
    height: 18px;

}

.card__description {
    display: inline-block;
    min-height: 54px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__metadata {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;

}

.videoSection {
    margin-top: 188px;
}
