.colorBackground {
  width: 100%;
  height: 55vh;
  background-color: rgba(213, 212, 208, 1);
}


.firstSection {
  h1 {
    font-size: 48px;
    color: var(--green);
  }

  p {
    font-size: 18px;
    color: var(--lightGren)
  }
}

.firstSection_text {
  width: 543px;
  position: absolute;
  top:175px;
  left:231px;


}

.imgBackground {

}
