.yogaSiteBlockInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 47px;
}

.yogaSiteWrapper {
    display: flex;
    min-height: 240px;
    background-color: var(--bgcGray);
    justify-content: space-between;
    position: absolute;
    top: -120px;

}

.icon {
    width: 56px;
    height:56px;
}
