@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --green: rgba(14, 92, 99, 1);
  --lightGren: rgba(85, 85, 71, 1);
  --bgcGray: rgba(248, 248, 246, 1);
  --textHeaderColor: rgba(14, 92, 99, 1);
  --textColor: rgba(85, 85, 71, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h2 {
  color: var(--textHeaderColor);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

h4 {
  color: var(--textHeaderColor);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 21px;
}

p {
  color: var(--textColor);
  text-align: center;
  font-size: 18px;
  margin: 10px 0;
}



