.teachersSection {
    background-color: var(--bgcGray);
    margin-bottom: 48px;
}

.teachersSection_icon {
    margin: 32px auto;
}

.teachersSection_teachers {
    display: flex;
    justify-content: space-around;
}

.teachers_card {
    max-width: 292px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
